version: 2.1
orbs:
  aws-s3: circleci/aws-s3@2.0.0
jobs:
  cdn:
    docker:
    - image: 'cimg/node:16.13.2'
    steps:
    - checkout
    - run:
        name: Dependencies
        command: |
          npm install
    - run:
        name: Build
        command: |
          npm run build
    - aws-s3/copy:
        from: lib/actions-recorder.min.js
        to: 's3://${BUCKET}/actions-recorder.min.js'
        arguments: |
          --metadata-directive REPLACE --cache-control max-age=0,no-cache,no-store,must-revalidate --acl public-read
workflows:
  version: 2
  publish:
    jobs:
    - cdn:
        filters:
          branches:
            only: master
